div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.main-background {
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.main-header {
  height: auto;
  background: white;
  display: flex;
  padding: 1% 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(132, 132, 132, 0.546);

  width: 100%;
  position: fixed;
  z-index: 5;

  // span,
  // i {
  //   margin-left: 1%;
  // }
}

.main-header-left {
  display: flex;

  div {
    width: 88px;
    height: 30px;
    margin-right: 10px;
  }
  img {
    height: 80%;
    width: 100%;
    margin: auto 0;
  }
}

.main-header-right {
  display: flex;
  // width: auto;
  height: auto;
  font-weight: 600;
  div,
  i {
    margin-left: 25px;
  }
}

.main-body {
  margin-top: 70px;
  height: auto;
  background: rgba(0, 0, 255, 0.315);
}

.main-body-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2%;
  margin-bottom: 5%;
}

.main-body-1-left {
  display: grid;
  place-items: center;
  // margin-right: 1%;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
}

.main-body-1-right {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  // margin-left: 1%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
}

.main-body-2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main-body-2-left {
  display: grid;
  grid-template-columns: 1fr;
}

.main-body-2-left-title1 {
  font-size: 23px;
  font-weight: 600;
}

.main-body-2-left-content1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-body-2-left-content1-item {
  display: grid;
  grid-template-columns: 1fr;

  place-items: center;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.middleImg {
  width: 100%;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}

.main-body-2-left-content2-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
}

.main-body-2-left-content2-item {
  display: grid;
  grid-template-columns: 1fr;

  place-items: center;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.main-body-2-left-content2-more {
  background-color: white;
  border-radius: 30px;
  font-weight: 600;
  width: 10%;
  margin: 0 auto;
}

.main-body-2-right {
  display: grid;
  grid-template-columns: 1fr;
}

.main-body-2-right-title {
  font-size: 23px;
  font-weight: 600;
}

.main-body-2-right-content {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.main-body-2-right-content2-more {
  background-color: white;
  border-radius: 30px;
  font-weight: 600;
  width: 50%;
  //   height: 50px;
  margin: 0 auto;
}

.main-footer {
  height: auto;
  background: rgba(128, 0, 128, 0.347);
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.main-footer-1 {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.main-footer-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}

.main-footer-1-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.main-footer-1-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.main-footer-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 1170px) {
  .main-body {
    max-width: 80%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .main-footer {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
}
